.voc { color: #C7BC0B; }

.csub { color: #D8AACA; }
.csub.comp { color: #D08ABB; }
.csub.compcomp { color: #CA60AA; }

.cpre { color: #EA8D9E; }
.cpre.comp{ color: #F07D92; }
.cpre.compcomp { color: #FB6A84; }

.subj { color: #A3AB8D; }
.subj.comp { color: #868A7B; }

.pred { color: #4682B4; }
.pred.comp { color: #5AAACE }

.pred.drob { color: #7DAB4E; }
.pred.drob.comp { color: #409E6B }
.pred.drob.compcomp { color: #40929E }

.pred.geru {}
.pred.geru.comp {}

.particle { font-weight: 100 }

.highlighted { color: #F8D115 !important; }

.phrasepicker {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: aliceblue;
}
.phrasepicker-role {
	display: block;
}
